* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

#main-header{
    background:black;
    color:white;

}

#main-header-top{
    padding:0px 40px;
}

#main-header a{
    color:#fff;
    text-decoration:none;
    display:flex;
}

#main-header img{
    margin-right:10px;
}

#main-nav{
    background:#73000a;
}

#main-nav ul{
    list-style-type:none;
}

#main-nav li{
    padding:10px;
    font-size:16px;
}

/*content area*/
#main-content{
    padding:20px;
}

.col4of5{
    flex-basis:75%;
}

.col5of5{
    flex-basis:20%;
}

.sc-article{
    margin:20px 0px;
}

.sc-article img{
    margin-right:20px;
}

/*banner*/
#banner{
    display:flex;
    justify-content:center;
}

/*font styles*/
h2 {
    color:#73000a;
    font-size:36px;
}

@media(min-width:900px){
    #main-nav ul{
        display:flex;
        justify-content:space-evenly;
    }

    #main-content-junior{
        display:flex;
        justify-content:space-between;
    }

    .sc-article{
        display:flex;
        justify-content:space-between;
    }
}