*{
    box-sizing:border-box;
}
body{
    background:url(images/paw_background.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,section,footer{
    margin:15px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
header{
    text-align:center;
}

.twocols{
background:#fff;
border: 10px solid #285943;
width:50%;
}

.onecol{
    padding: 30px;
    flex-basis:40%;
}

.twocol{
    padding: 30px;
    flex-basis:40%;
}

.threecols{
background:#fff;
padding:5px;

}

.col1{
flex:1;
background:#a4bfa3;
padding:5px;
}

.col2{
flex:2;
padding:5px;
}
aside{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background:#e0b6f2;
    padding:15px;
    
}
article{
    background:#e0b6f2;
    text-align:center;
}
.col3{
flex:1;
background:#a4bfa3;
padding:5px;
}

.images{
justify-content: space-between;
}

footer{
    background: #e0b6f2;
    display:flex;
    justify-content: space-between;
    text-align:center;
}

nav li{
    list-style-type:none;
    float:left;
    padding:30px;
    position:relative;
    
}
nav a{
    text-decoration:none;
    
    color:#fff;
    text-align:center;
    font-size:20px;
    float:left;
    padding:20px;
}
.navbar ul {
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}

.navbar li {
    flex:auto;
    background:#e0b6f2;
}

@media screen and (min-width:900px){
    .navbar ul {
        flex-direction:row;
    }

   .twocols, .threecols, .images{
       display:flex;
   }
}