*{
    box-sizing:border-box;
}
body{
    background:url(images/paw_background.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,section,footer{
    margin:15px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
header{
    text-align:center;
}

.twocols{
display: flex;
background:#fff;
border: 10px solid #285943;
flex-basis:200px;
width:50%;
}

.1col{
    display:flex;
    border: 2px solid ##285943;
    padding: 30px;
    margin: 10px auto;
    flex-basis:200px;
}

.2col{
    display:flex;
    padding: 30px;
    margin: 10px auto;
    flex-basis:40%;
}

.threecols{
display:flex;
flex-basis: 80px;
background:#fff;
padding:5px;

}

.col1{
flex:1;
background:#a4bfa3;
padding:5px;
}

.col2{
flex:2;
padding:5px;
}
aside{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background:#e0b6f2;
    padding:15px;
    
}
article{
    background:#e0b6f2;
    text-align:center;
}
.col3{
flex:1;
background:#a4bfa3;
padding:5px;
}

.images{
display:flex;
justify-content: space-between;
}

footer{
background: #e0b6f2;
display:flex;
justify-content: space-between;
text-align:center;
}

nav li{
    list-style-type:none;
    float:left;
    padding:30px;
    position:relative;
    
}
nav a{
    text-decoration:none;
    background:#e0b6f2;
    color:#fff;
    text-align:center;
    font-size:20px;
    float:left;
    padding:20px;
}
.navbar{
    display:flex;
    justify-content:space-around;
}

@media screen and (max-width:600px){
    .navbar{
        float: none;
        width:100%;
}

@media screen and (max-width:600px){
   .twocols{
       float:none;
       width:100%;
   }
   .1col{
       width:100%;
   }
   .2col{
    width:100%;
}
}

@media screen and (max-width:600px){
    .threecols{
        float:none;
        width;100%;
    }
}
@media screen and (max-width:600px){
    .images{
        float:none;
        width;100%;
    }
}