*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background:lightslategrey;
}

.twocolumns{
    background:lightsteelblue;
    display:flex;
}

.col1of2{
    background:lightpink;
    flex:1;
}

.col2of2{
    background:lightseagreen;
    flex:1;
}

footer{
    background:lightyellow;
}